NUKIPA_GATEWAY_URL=https://nukipa-staging-gateway.fly.dev
NUKIPA_TENANT_HOST=werksignal-f40fcd10.kibert.de
NEXT_PUBLIC_NUKIPA_GATEWAY_URL=https://nukipa-staging-gateway.fly.dev
# Set to 1 to show the feedback widget in dev
# NUKIPA_FEEDBACK_ENABLED=1
# Set to 1 to hide the feedback widget in production
# NUKIPA_FEEDBACK_DISABLED=1
